

<footer class="site-footer">

  <div class="container">

    <div class="col-xs-12">
        
        {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}">
            <img class="icon--images hover-fade" src="{{ "/svg/github.svg" | prepend: site.baseurl }}">
          </a>
        {% endif %}

        {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <img class="icon--images hover-fade" src="{{ "/svg/twitter.svg" | prepend: site.baseurl }}">
          </a>
        {% endif %}

        {% if site.facebook_username %}
          <a href="https://facebook.com/{{ site.facebook_username }}">
            <img class="icon--images hover-fade" src="{{ "/svg/facebook.svg" | prepend: site.baseurl }}">
          </a>
        {% endif %}
          
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <img class="icon--images hover-fade" src="{{ "/svg/rss.svg" | prepend: site.baseurl }}">
        </a>

    </div>

  </div>

</footer>


