

<footer class="site-footer">

  <div class="wrapper">

  <h2 class="footer-heading">{{ site.title }}</h2>

  <div class="footer-col-wrapper">
    <div class="footer-col  footer-col-1">
       <ul class="contact-list">
         <li>{{ site.title }}</li>
         <li><a href="mailto:{{ site.email }}">Sponsors</a></li>
       </ul>
      </div>

     <div class="footer-col  footer-col-2">
     <ul class="social-media-list">
        {% if site.facebook_username %}       
         <a href="https://facebook.com/{{ site.facebook_username }}">
             <img class="icon--images hover-fade" src="{{ "/images/facebook.jpg" | prepend: site.baseurl }}">        
         </a>        
         {% endif %}
  	 {% if site.twitter_username %}       
           <a href="https://twitter.com/{{ site.twitter_username }}">
 	   <img class="icon--images hover-fade" src="{{ "/images/twitter.jpg" | prepend: site.baseurl }}">           
          </a>
         
         {% endif %}
	{% if site.sponsor_1 %}       
         <a href="{{ site.sponsor_1 }}">
             <img class="icon--images hover-fade" src="{{ "/images/cascade.jpg" | prepend: site.baseurl }}">        
         </a>        
         {% endif %}
	{% if site.sponsor_2 %}       
         <a href="{{ site.sponsor_2 }}">
             <img class="icon--images hover-fade" src="{{ "/images/quantumii.jpg" | prepend: site.baseurl }}">        
         </a>        
         {% endif %}
       </ul>
   </div>

     <div class="footer-col  footer-col-3">
     <p class="text">{{ site.description }}</p>
     </div>
</footer>


